html,body {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100%;
    background-color: #eaeaea;
  }
  
  .bar {
    width: 20px;
    height: 100px;
    margin: 0 2px;
  }
  
  @keyframes wave {
    0%, 50%, 100% { 
      background-color: orange; 
      transform: scale(1);
    }
    25% {
      background-color: yellow;
      transform: scale(1, 2);
    }
    75% {
      background-color: red;
      transform: scale(1, 0.5);
    }
  }
  
  .wave {
    animation-name: wave;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
.wrapper {
    margin: 1rem;
}
/*displays background color and uses display of flex*/
body {
    background-color: lightpink;
    display: flex;
}

/*makes the title of the website rotate 3 times when hovered over*/
.titleOfWebsite:hover {
    transform: rotateY(1turn);
    transition: transform 2.5s;  
}

/*gets accessibility font families and scales the title when clicked on*/
.titleOfWebsite:active {
    font-family: Arial, Helvetica, sans-serif ;
    transform: scale(.5, .5);
}

nav ul li  {
    display: flex;
    flex-direction: row;
	width: 33%;
    float: left;
    list-style-type: none;
    padding: 20px 0;
    font-size: 18px;
    justify-content: center;
}

nav ul li:hover {
	color: forestgreen;
}

.socialMedia img {
    display: flex;
    flex-direction: row;
    float: left;
    justify-content: center;
    padding: 5px 0;
}
