/*displays background color and uses display of flex*/
body {
    background-color: #FF7AAA;
    display: flex;
}

.titleOfWebsite:hover:active {
    transition-duration: .3s;
    transition-duration: 2.5s;
    transform: rotateY(3turn);
    transition: transform 2.5s;
  
}


.titleOfWebsite {
    font-family: Arial, Helvetica, sans-serif ;
    float: right;
}