/*displays background color and uses display of flex*/
body {
    background-color: #FF7AAA;
    display: flex;
}


.titleOfWebsite {
    font-family: Arial, Helvetica, sans-serif ;
    transform: rotateY(3turn);
    transition: transform 1.5s;
    float: right;
}